/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(2, 2, 2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.jpg");
   

}
.titulo{
font-size: 60px;
color: rgb(158, 0, 113);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
    height: 193px;
    width: 300px;
    background-image: url("piedra.jpeg");
    background-repeat: no-repeat;
    float: right;
}
.img2{
    height: 500px;
    width: 500px;
    background-image: url("medellin.jpeg");
    background-repeat: no-repeat;
    float: left;
}


.imgn1{
    height: 500px;
    width: 500px;
    background-image: url(SUMA.jpg);
    background-repeat: no-repeat;
    float: left;

}



.imgn2{
    height: 700px;
    width: 900px;
    background-image: url(SI.jpg);
    background-repeat: no-repeat;
    float: left;

}


.imgn3{
    height: 500px;
    width: 500px;
    background-image: url(BUSCARV.png);
    background-repeat: no-repeat;
    float: left;
}


.imgn4{
    height: 500px;
    width: 500px;
    background-image: url(CONTAR.png);
    background-repeat: no-repeat;
    float: left;
}