/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(7, 7, 7);
}
.principal{
   display: flex;
     
}
body{
    background-image: url(piraña.jpg);
    background-repeat: no-repeat;


}
   .titulo{
    font-size: 50px;
    color: rgb(0, 2, 118);
    text-align: center;

}


.imagent{


    height: 300px;
    width: 350px;
    background-image: url("circuitos.jpg");
    }

