/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(7, 7, 7);
}
.principal{
   display: flex;
     
}
body{
    background-image: url(piraña.jpg);
    background-repeat: no-repeat;

}