/* Temas del segundo período*/

.texto{
   
    font-size: 38px;
    padding-top: 120px;
    text-align: justify;
    color: rgb(2, 2, 2);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.jpg");
   

}
.titulo{
font-size: 60px;
color: rgb(236, 102, 189);
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.img1{
    height: 193px;
    width: 300px;
    background-image: url("piedra.jpeg");
    background-repeat: no-repeat;
    float: right;
}
.img2{
    height: 500px;
    width: 500px;
    background-image: url("medellin.jpeg");
    background-repeat: no-repeat;
    float: left;
}


.imgn1{
    height: 500px;
    width: 500px;
    background-image: url(SUMA.jpg);
    background-repeat: no-repeat;
    float: left;

}



.imgn2{
    height: 700px;
    width: 900px;
    background-image: url(SI.jpg);
    background-repeat: no-repeat;
    float: left;

}


.imgn3{
    height: 400px;
    width: 500px;
    background-image: url(BUSCARV.png);
    background-repeat: no-repeat;
    float: left;
}


.imgn4{
    height: 500px;
    width: 500px;
    background-image: url(CONTAR.png);
    background-repeat: no-repeat;
    float: left;
}

.imgcon{
    height: 1000px;
    width: 1200px;
    background-image: url(contactos.webp);
    background-repeat: no-repeat;
    float: left;

}


.imgin{
    height: 655px;
    width: 1150px;
    background-image: url(inicio.jpeg);
    background-repeat: no-repeat;
    float: left;

}

.imgsoc{
    height: 655px;
    width: 1250px;
    background-image: url(mapa.jpeg);
    background-repeat: no-repeat;
    float: left;
}

.imging{
    height: 513px;
    width: 900px;
    background-image: url(paz.jpeg);
    background-repeat: no-repeat;
    float: left;

}

.img1in{
    height: 384px;
    width: 500px;
    background-image: url(demas.jpeg);
    background-repeat: no-repeat;
    float: left;

}

.img2in{
    height: 450px;
    width: 500px;
    background-image: url(hablar.jpeg);
    background-repeat: no-repeat;
    
}


.img3in{
    height: 300px;
    width: 400px;
    background-image: url(opinion.jpeg);
    background-repeat: no-repeat;
    

}

.img4in{
    height: 400px;
    width: 400px;
    background-image: url(violencia.jpeg);
    background-repeat: no-repeat;
    
}

.img5in{
    height: 400px;
    width: 400px;
    background-image: url(identidad.jpeg);
    background-repeat: no-repeat;

}

.img6in{
    height: 362px;
    width: 400px;
    background-image: url(estereotipos.jpeg);
    background-repeat: no-repeat;

}
